<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/img/BCA-Logo.png" type="image/x-icon" />
    <!-- framework css -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/assets/fontawesome-free-6.2.0-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/aos-master/dist/aos.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Breakthrough Christian Academy</title>
  </head>
  <body class="bg-contents">
    <main>
        <header>
            <nav
              id="navigation"
              class="navbar navbar-expand-md navbar-white fixed-top shadow-sm"
            >
              <div
                class="container d-flex justify-content-md-center justify-content-sm-between align-items-center"
              >
                <a class="navbar-brand" href="#"
                  ><img
                    src="/assets/img/BCA-Logo.png"
                    alt="BCA LOGO"
                    class="nav-logo"
                  />
                </a>
                <button
                  class="navbar-toggler collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarCollapse"
                  aria-controls="navbarCollapse"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div
                  class="navbar-collapse collapse flex-grow-0"
                  id="navbarCollapse"
                >
                  <ul class="navbar-nav nav-line mb-2 mb-md-0">
                    <li class="nav-item px-4">
                      <a class="nav-link "  href="#"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item px-4">
                      <a class="nav-link active"  aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown px-4" id="academics">
                      <a class="nav-link"  href="#">
                        Academics
                        <button class="dropdown-btn d-md-none" id="academicsbtn" type="button">
                           <i class="fa fa-caret-down"></i>
                        </button> 
                      </a>
                      <ul class="dropdown-menu" id="academicsdd">
                        <li><a class="dropdown-item mb-1" href="#">Primay</a></li>
                        <li><a class="dropdown-item mb-1" href="#">Elementary</a></li>
                        <li><a class="dropdown-item" href="#">Junior Highschool</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown px-4" id="services">
                      <a class="nav-link" href="#">Enrollment
                        <button class="dropdown-btn d-md-none" id="servicesbtn" type="button">
                          <i class="fa fa-caret-down"></i>
                       </button> 
                      </a>
                      <ul class="dropdown-menu" id="servicesdd">
                        <li><a class="dropdown-item mb-1" href="#">Enrollment Form</a></li>
                        <li><a class="dropdown-item mb-1" href="#">Portal</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>
      <section class="py-3 c-mt-nv">
        <div class="container h-100">
          <div class="d-flex  mb-3 justify-content-between align-items-center">
            <h1 class="text-blue"><span >A</span>bout <span class="text-bca">U</span>s</h1>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item "><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
              </nav>
          </div>
          <div class="row gy-3 gx-4" data-aos="fade-up" data-aos-offset="0" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top">
           <div class="col-md-9">
            <div class="card">
              <div class="card-body">
                <h2 class="pt-2"><span class="text-blue">H</span>istory</h2>

                <p class="text-wrap">Breakthrough Christian Academy, Inc. is a Private Institution which has
                  Preschools, Kindergarten, Elementary Schools under DedED Quezon City. When we first came to Sitio in
                  2004 to heed the call of God to Pastor the community, I have seen the
                  reality of poverty in the many malnourished children in our feeding program. Ptr. Carlos said that
                  the community needs to experience God and that the children should be educated so that they can get
                  out of poverty. I have learned that when the time is right God will make it happen Isaiah 60:22. I
                  have seen the hand of God moved through the years and the miracles happening right before my eyes
                  have increased my faith in the Lord.

                  In 2007, mLBCii entered the new season as Pastor Carlos succeeded Pastor Steve Mirpuri as the new
                  Senior Pastor of the Ministries of the Living Body of Christ International Inc. The dream of putting
                  a school was realize when the board of trustees agreed to establish Breakthrough Christian Academy
                  in Sitio Veterans in 2007.

                  We continue to comply with the requirements of the government, mounting operational expenses and
                  development of BCA facilities. With only 35 students in the first year of operation, year after year
                  our enrollment increased. We thank the Lord Jesus for a total of 1782 students that were served in
                  the community for 14 years here in BCA and the opportunity to share the gospel even to their
                  families.
                </p>
              </div>
            </div>
           </div>
           <div class="col-sm-3 col-md-3  c-d-sm-none ">
            <div class="mb-5 my-md-0 ps-xl-3 text-muted">
              <strong class="d-block h6 my-2 pb-2 border-bottom">Follow us on Facebook</strong>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBreakthroughChristianAcademy&tabs=timeline&width=380&height=50&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

            </div>
            <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
                <strong class="d-block h6 my-2 pb-2 border-bottom">Links</strong>
                <nav id="TableOfContents">
                    <ul>
                    <li><a href="#example">Primay</a></li>
                    <li><a href="#dividers">Elementary</a></li>
                    <li><a href="#accessibility">Junior Highschool</a></li>
                    </ul>
                </nav>
            </div>
            
           </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="bg-blue mt-5">
      <div class="container py-5">
        <div class="row">
          <div class=" col-md-6">
              <h5 class="text-white">Contact Us</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-light text-decoration-none" href="#"><i class="fa-solid fa-location-dot"></i> <span class="text-decoration-underline ps-3">Location</span></a></li>
                <li><a class="link-light text-decoration-none" href="#"><i class="fa-solid fa-phone"></i><span class="ps-3">Telephone no</span></a></li>
                <li><a class="link-light text-decoration-none" href="#"><i class="fa-solid fa-envelope"></i><span class="ps-3">Email</span></a></li>
              </ul>
              <h5 class="text-white">Stay Conected with us</h5>
              <ul class="list-unstyled text-small">
                <li><a class="link-light text-decoration-none" href="#"><h2 class="px-2 py-1 outline-light"><i class="fa-brands fa-facebook-f"></i></h1></a></li>
              </ul>
              
          </div>
          <div class=" col-md-6">
            <h5 class="text-white">Google Map</h5>
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.059649840405!2d121.10354055085067!3d14.70921877829755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397bbede23753e7%3A0x3bf4fd9f1aa31fe2!2sBreakthrough%20Christian%20Academy!5e0!3m2!1sen!2sph!4v1663424253281!5m2!1sen!2sph" height="200" width="100%" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <!-- <div class="col-6 col-md ">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Resource name</a></li>
              <li><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
              <li><a class="link-secondary" href="#">Another resource</a></li>
              <li><a class="link-secondary" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Team</a></li>
              <li><a class="link-secondary" href="#">Locations</a></li>
              <li><a class="link-secondary" href="#">Privacy</a></li>
              <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </footer>
    <script src="/assets/aos-master/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/jquery/jquery.js"></script>

  </body>
</html>
